<div class="container">
    <h1>Tags</h1>

    <a class="btn-flat waves-effect waves-orange" routerLink="add" >
      <i class="material-icons left">add</i>Add new tag
    </a>

    <table class="striped">
      <thead>
        <tr>
          <th>Group</th>
          <th>Name</th>
          <th>Merge</th>
          <th>Modify</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tag of tags">
          <td>{{ tag.group }}</td>
          <td class="full-width">{{ tag.name }}</td>
          <td class="center-align">
            <a [routerLink]="['merge', tag.id]"><i class="material-icons">call_merge</i></a>
          </td>
          <td class="center-align">
            <a [routerLink]="['edit', tag.id]"><i class="material-icons">edit</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
