<div class="container">
  <h1>Vote for Tags</h1>

  <ng-container *ngIf="tags && votedTags; else loading">
    <div class="tag-group-container" *ngFor="let keyValue of tags | keyvalue">
      <h3>{{ keyValue.key }}</h3>
      <button *ngFor="let tag of keyValue.value"
          [ngClass]="{ 'orange darken-3 white-text': votedTags[tag.id] }"
          class="chip btn"
          (click)="clickTag(tag.id)"
          [disabled]="loadingTag[tag.id]">
        {{ tag.name }}
      </button>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <app-loading-circle></app-loading-circle>
</ng-template>
