<div class="game-card-container" *ngIf="games; else loading">
  <div class="game-card" *ngFor="let game of gamesCurrentPage">
    <app-game-card
      [game]="game"
      [analyticsCategory]="analyticsCategory">
    </app-game-card>
  </div>

  <div class="card-panel" *ngIf="!games.length">{{ emptyMessage }}</div>
</div>

<!-- PAGINATION BUTTONS -->
<ul class="pagination game-card-container" *ngIf="games">
  <li [class.disabled]="currentPage <= 1"
      [class.waves-effect]="currentPage > 1">
    <a class="clickable" (click)="prevPage()"><i class="material-icons">chevron_left</i></a>
  </li>

  <li [class.active]="currentPage == pageNumber" *ngFor="let pageNumber of pages">
    <a class="clickable" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
  </li>

  <li [class.disabled]="currentPage >= pages.length"
      [class.waves-effect]="currentPage < pages.length">
    <a class="clickable" (click)="nextPage()"><i class="material-icons">chevron_right</i></a>
  </li>
</ul>

<ng-template #loading>
  <app-loading-circle></app-loading-circle>
</ng-template>
