<div class="container">
  <h1>About eShop Index</h1>

  <div class="card-panel">
    This website was created to solve a problem me and many Nintendo Switch owners were facing: There are too many new games being released every week and it's not easy to find out which of these games may suit our tastes.

    <br><br>

    To achieve that, eShop Index expands upon the eShop's search capabilities, with many extra tags and the adition of similar titles for games, and allows users to share their opinion about games, be it with a simple like/ dislike or with a review. Not only that, but also users can help improve the discoverability of games by suggesting tags and similar titles for games.
  </div>

</div>
